#header{
    width: 260px;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000;
    z-index: 10000;
}

#main{
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: 260px;
    background-color: #111;
}

#footer{
    text-align: center;
    background-color: #333;
    padding: 20px 20px 20px 260px;
}